body{
    text-align: center;
}

.cardContainer{
}

.mentorCard p2{
    text-align: center;
    display: block; 
}



.mentorCard {
    width: 20rem;
    margin: 3rem;
    display: inline-block;
    vertical-align: top;
}


.mentorCard p{
    text-align: center;
}


}
